<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<title>Travellers Palm</title>
	<!-- Included CSS Files (Uncompressed) -->
	<!-- <link rel="stylesheet" href="stylesheets/foundation.css">-->
	<!-- Included CSS Files (Compressed) -->
	<link rel="stylesheet" href="[% request.uri_base %]/stylesheets/foundation.min.css">
	<link rel="stylesheet" href="[% request.uri_base %]/stylesheets/app3.css">
	<link rel="stylesheet" href="[% request.uri_base %]/stylesheets/ui-lightness/jquery-ui-1.9.2.custom.min.css">
	<script src="[% request.uri_base %]/javascripts/modernizr.foundation.js"></script>
	<script>
	WebFontConfig = {
		custom: {
			families: [
				'LatoBold'
			],
			urls: [ 
				'[% request.uri_base %]/stylesheets/fonts/lato-bold/stylesheet.css'
			]
		}
	};
	</script>
	<script src="[% request.uri_base %]/javascripts/webfont.js"></script>
	<!-- Included JS Files (Compressed) -->
	<script src="[% request.uri_base %]/javascripts/foundation.min.js"></script>
	<script src="[% request.uri_base %]/javascripts/jquery-ui-1.9.2.custom.min.js"></script>
</head>
<body>
	<div class="contain-to-grid">
		<nav class="top-bar">
			<section>
				<ul class="right">
					<li><a href="/">Home</a></li>
					<li><a href="http://www.travellers-palm.com/themes" target="travellers-palm">Incredible India</a></li>
					<li><a href="http://www.travellers-palm.com/special_places" target="travellers-palm">Special Places</a></li>
					<li><a href="http://www.travellers-palm.com/modules" target="travellers-palm">Mini Itineraries</a></li>
					<li><a href="http://www.travellers-palm.com/tours" target="travellers-palm">Indian Journeys</a></li>
					<li><a href="/">Design Your Tour</a></li>
					<li><a href="http://www.travellers-palm.com/contact-us" target="travellers-palm">Contact</a></li>
					<li><a href="http://www.travellers-palm.com/about-us" target="travellers-palm">About Us</a></li>
				</ul>
			</section>
		</nav>
	</div>
	<div id="banner">
		<img src="/images/new_banner.gif" width="949" height="149" />
	</div>
	[% content %]
	<!-- Included JS Files (Uncompressed) -->
	<!--
	  	<script src="[% request.uri_base %]/javascripts/jquery.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.mediaQueryToggle.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.forms.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.reveal.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.orbit.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.navigation.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.buttons.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.tabs.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.tooltips.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.accordion.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.placeholder.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.alerts.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.topbar.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.joyride.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.clearing.js"></script>
	  	<script src="[% request.uri_base %]/javascripts/jquery.foundation.magellan.js"></script>
	-->
	<!-- Initialize JS Plugins -->
	<script src="[% request.uri_base %]/javascripts/app.js"></script>
	<script src="[% request.uri_base %]/javascripts/odyssey.js"></script>
</body>
</html>
