[% IF routes.size > 0 %]
   <p>
    Here is our recommended way to travel <strong>from [% session.status.src.city %] to [% session.status.dest.city %]:</strong>
    </p>
    [% INCLUDE update_route.tt %]
    <div id="optionholder">
         [% INCLUDE route_list.tt %]
    </div>
[% END %]
