[% USE date %]
<div class="content">
	<div class="row">
		<div class="twelve columns">
			<div class="six columns end">
				<h2>Thank you [% session.status.config.leadname %]</h2>
				<hr />
				<p>
					We have recieved your itinerary. You will hear from us shortly.
					Feel free to <a href="/">plan another tour</a> if you wish. 
				<p>
			</div>
		</div>
	</div>
</div>
[% INCLUDE javascript_includes.tt %]
