/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.content h1 {
	font-size: 1.4em;
}

.content h2 {
	font-size: 1.3em
}

.content h3 {
	font-size: 1.2em;
}

.content h4 {
	font-size: 1.1em;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


/* -----------------------------------------
   Style Overrides
----------------------------------------- */
.top-bar ul > li a:not(.button) {
	font-weight: normal;
}

form.custom div.custom.dropdown a.selector {
    height: 28px;
}

/* Fix for Google Maps Zurb Foundation */
#gmap img {
	max-width: none;
}
